<a href="https://colab.research.google.com/github/Imran-co/Machine-Intelligence/blob/main/MIL_5_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
titanic['survived'] = label.fit_transform(titanic['survived'])
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd


one_hot = OneHotEncoder(sparse_output=False, handle_unknown= 'ignore')

titanic = sns.load_dataset('titanic')
encoded_who = one_hot.fit_transform(titanic[['who']])


encoded_df = pd.DataFrame(encoded_who, columns=one_hot.get_feature_names_out(['who']))


titanic = pd.concat([titanic.drop('who', axis=1), encoded_df], axis=1)

# Step 5: Check the result
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,deck,embark_town,alive,alone,who_child,who_man,who_woman
0,0,3,male,22.0,1,0,7.2500,S,Third,True,NaN,Southampton,no,False,0.0,1.0,0.0
1,1,1,female,38.0,1,0,71.2833,C,First,False,C,Cherbourg,yes,False,0.0,0.0,1.0
2,1,3,female,26.0,0,0,7.9250,S,Third,False,NaN,Southampton,yes,True,0.0,0.0,1.0
3,1,1,female,35.0,1,0,53.1000,S,First,False,C,Southampton,yes,False,0.0,0.0,1.0
4,0,3,male,35.0,0,0,8.0500,S,Third,True,NaN,Southampton,no,True,0.0,1.0,0.0

In [ ]:
titanic = titanic.dropna()

In [ ]:
titanic.drop(['deck'], axis=1)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,adult_male,embark_town,alive,alone,who_child,who_man,who_woman
1,1,1,female,38.0,1,0,71.2833,C,First,False,Cherbourg,yes,False,0.0,0.0,1.0
3,1,1,female,35.0,1,0,53.1000,S,First,False,Southampton,yes,False,0.0,0.0,1.0
6,0,1,male,54.0,0,0,51.8625,S,First,True,Southampton,no,True,0.0,1.0,0.0
10,1,3,female,4.0,1,1,16.7000,S,Third,False,Southampton,yes,False,1.0,0.0,0.0
11,1,1,female,58.0,0,0,26.5500,S,First,False,Southampton,yes,True,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,female,47.0,1,1,52.5542,S,First,False,Southampton,yes,False,0.0,0.0,1.0
872,0,1,male,33.0,0,0,5.0000,S,First,True,Southampton,no,True,0.0,1.0,0.0
879,1,1,female,56.0,0,1,83.1583,C,First,False,Cherbourg,yes,False,0.0,0.0,1.0
887,1,1,female,19.0,0,0,30.0000,S,First,False,Southampton,yes,True,0.0,0.0,1.0
889,1,1,male,26.0,0,0,30.0000,C,First,True,Cherbourg,yes,True,0.0,1.0,0.0

In [ ]:
for column in titanic.select_dtypes(include=['object']).columns:
    # Create a LabelEncoder for each categorical column
    label_encoder = LabelEncoder()
    titanic[column] = label_encoder.fit_transform(titanic[column])

In [ ]:
titanic.drop(['deck'], axis=1)
titanic.drop(['sex'], axis=1)
titanic.drop(['class'], axis=1)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,adult_male,deck,embark_town,alive,alone,who_child,who_man,who_woman
1,1,1,0,38.0,1,0,71.2833,0,False,C,0,1,False,0.0,0.0,1.0
3,1,1,0,35.0,1,0,53.1000,2,False,C,2,1,False,0.0,0.0,1.0
6,0,1,1,54.0,0,0,51.8625,2,True,E,2,0,True,0.0,1.0,0.0
10,1,3,0,4.0,1,1,16.7000,2,False,G,2,1,False,1.0,0.0,0.0
11,1,1,0,58.0,0,0,26.5500,2,False,C,2,1,True,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,0,47.0,1,1,52.5542,2,False,D,2,1,False,0.0,0.0,1.0
872,0,1,1,33.0,0,0,5.0000,2,True,B,2,0,True,0.0,1.0,0.0
879,1,1,0,56.0,0,1,83.1583,0,False,C,0,1,False,0.0,0.0,1.0
887,1,1,0,19.0,0,0,30.0000,2,False,B,2,1,True,0.0,0.0,1.0
889,1,1,1,26.0,0,0,30.0000,0,True,C,0,1,True,0.0,1.0,0.0

In [ ]:
from sklearn.model_selection import train_test_split


X = titanic[['pclass', 'age', 'sibsp', 'parch', 'fare']]
y = titanic['survived']  # Target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

model.fit(X_train, y_train)

y_prediction = model.predict_proba(X_test)[:, 1]

In [ ]:
survival_rate = y_prediction.mean()

# Print the predicted survival rate
print(f"The predicted survival rate is: ",survival_rate)

The predicted survival rate is:  0.6798100965437422

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, y_prediction)
r2 = r2_score(y_test, y_prediction)

print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 0.1880760318848515
R-squared: 0.1747561293257638